
:root {
    --primary-color: #13315C;
    --secondary-color: #72BDA3;
    --text-color: #7C3626;
    --link-color: #386150;
    --background-color: #f0f0f0;
    --footer-bg-color: #222;
    --footer-text-color: #fff;
    --heading-font: Arial, sans-serif;
    --paragraph-font: Arial, sans-serif;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 220px 1fr 2fr;
    border-bottom: 1px solid #13315C;
    max-width: 1000px;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

nav {
    text-align: right;
    margin: auto;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: #386150;
    padding: 20px;
    text-decoration: none;
}

.navigatioin a:hover {
    color: #7C3626;
    font-weight: 700;
    text-decoration: underline;
}

h1, h2, p {
    color: var(--text-color);
    font-family: var(--heading-font);
}


.hero h1 {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 10px;
    opacity: 0.8;
}

.hist {
    display: flex;
    flex-direction:row;
    align-items: center;
    text-align: left;
}

.hist h2 {
    position: absolute;
    top: 175%;
    left: 45%;
}

.hist img {
    display: block;
    margin: auto 0;
    margin-top: 5%;
}

.hist p {
    margin: 10px;
}

.adventure figure {
    display:inline-block;
    flex-direction: row;
    margin: 10px;
    margin-top: 40px;
}

.adventure img {
    vertical-align: center;
    margin: auto;
    margin-left: 15px;
    align-items: center;
    width: 200px;
    height: auto;
}

.adventure h2 {
    position: absolute;
    top: 253%;
    left: 40%;
}

.adventure figcaption {
    text-align: center;
    margin: 10px;
}

.sociallinks a {
    text-decoration: none;
}


body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: var(--paragraph-font); 
}

main {
    display: block;
}

div {
    display: block;
}


.hero {
    position: relative;
    width: 100%;
}

.hero img {
    width: 100%;
    height: auto;
}

article {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    text-align: start;
    opacity: 0.8;
    display: block
} 

.happy {
    margin-block: 200px;
}

.happy img{
    width: 50%;
    height: auto;
    float: right;
}

/* contact page */
.company h1 {
    position: absolute;
    top: 30%;
    left: 40%
}

.company img {
    width: 100%;
    height: 400px;
    margin-top: 50px
}

.info {
    display: grid;
    grid-template-rows: 50px 50px 30px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.addp {
    grid-row: 2;
    grid-column: 1;
}

.phonep {
    grid-row: 2;
    grid-column: 2;
    max-width: 140px;
    margin-left: 29%;
}

.map {
    text-align: center;
}

.employee img {
    width: 150px
}

.employeeh2 {
    text-align: center;
}

.employee {
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
    text-align: center;
}

.contact form {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contact label {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

.contact select, input[type=text], textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 3px solid #7C3626;
    border-radius: 5px;
}

.contact select {
    height: 40px;
}

.contact button {
    background-color: #7C3626;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* trips page */
.table {
    text-align: center;
    margin-top: 70px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 30px auto;
}

th, td {
    border: 1px solid #13315C;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #72BDA3;
}

.trip-3 img {
    width: 500px;
}

.contact h1 {
    text-align: center;
}

/* Trip 1 */
.trip-1 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 350px;
}

.trip-1 p {
    grid-column: 2;
    grid-row: 1;
    text-align: left;
}

.trip-1 img {
    width: 500px;
}

.t1 h2 {
    text-align: left;
}

/* Trip 2 */
.trip-2 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 350px;
}

.trip-2 p {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
}

.trip-2 img {
    width: 500px;
    margin-left: 50px;
}

.t2 h2 {
    text-align: left;
}

/* Trip 3 */
.trip-3 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 350px;
}

.trip-3 p {
    grid-column: 2;
    grid-row: 1;
    text-align: left;
}

.trip-3 img {
    width: 500px;
}

.t3 h2 {
    text-align: left;
}