
:root {
    --primary-color: #13315C;
    --secondary-color: #72BDA3;
    --text-color: #7C3626;
    --link-color: #386150;
    --background-color: #f0f0f0;
    --footer-bg-color: #222;
    --footer-text-color: #fff;
    --heading-font: Arial, sans-serif;
    --paragraph-font: Arial, sans-serif;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 220px 1fr 2fr;
    border-bottom: 1px solid #13315C;
    max-width: 1000px;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

nav {
    text-align: right;
    margin: auto;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: #386150;
    padding: 20px;
    text-decoration: none;
}

.navigatioin a:hover {
    color: #7C3626;
    font-weight: 700;
    text-decoration: underline;
}

h1, h2, p {
    color: var(--text-color);
    font-family: var(--heading-font);
}


h1 {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 10px;
    opacity: 0.8;
}

.hist {
    display: flex;
    flex-direction:row;
    align-items: center;
    text-align: left;
}

.hist h2 {
    position: absolute;
    top: 175%;
    left: 45%;
}

.hist img {
    display: block;
    margin: auto 0;
    margin-top: 5%;
}

.hist p {
    margin: 10px;
}

.adventure figure {
    display:inline-block;
    flex-direction: row;
    margin: 10px;
    margin-top: 40px;
}

.adventure img {
    vertical-align: center;
    margin: auto;
    margin-left: 15px;
    align-items: center;
    width: 200px;
    height: auto;
}

.adventure h2 {
    position: absolute;
    top: 253%;
    left: 40%;
}

.adventure figcaption {
    text-align: center;
    margin: 10px;
}

.sociallinks a {
    text-decoration: none;
}


body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: var(--paragraph-font); 
}

main {
    display: block;
}

div {
    display: block;
}


.hero {
    position: relative;
    width: 100%;
}

.hero img {
    width: 100%;
    height: auto;
}

article {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    text-align: start;
    opacity: 0.8;
    display: block
} 

.happy {
    margin-block: 200px;
}

.happy img{
    width: 50%;
    height: auto;
    float: right;
}