form {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

select, input[type=text], input[type=number], textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 3px solid #007;
    border-radius: 5px;
}

select {
    height: 40px;
}

button {
    background-color: #007;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}